body{
    background-color:rgba(231, 219, 205, 0.441) ;
}
.img1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
    margin-top: 50px;
    height: 70vh;
    background-image: linear-gradient(rgba(11, 65, 83, 0.705),rgba(0, 0, 0, 0.18)),url("parul.jpg");
    
}
.Parul h1{
    color: antiquewhite;
    margin-left: 80px;
    margin-top: 50px;
}
.Parul h5{
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 80px;
    
}
.btn1{
    width: 150px;
    height: 50px;
    margin-left: 80px;
    background-color: rgba(57, 43, 25, 0.758);
    margin-top: 200px;
    border-radius: 80px;
    color: antiquewhite;
    font-size: large;
}
.Event_cell{
    color: #591e1e;
    margin-top: 50px;
    margin-left: 50px;
    font-size: larger;
}